# Vim
*~
*.swp

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
/.classpath
/.settings/
/.project
/bin/

# Maven
target/

# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Misc
*.log
